<router-outlet></router-outlet>
<!-- <form> 
    <label for="formula">Formula:</label>
    <input type="text" id="formula" name="formula" list="formulaList" autocomplete="off">
    <datalist id="formulaList">
        <option value="sin">
        <option value="cos">
        <option value="tan">
        <option value="cot">
    </datalist>

    <br>
 
    <label for="iterations">Iterations:</label>
    <input type="range" id="iterations" name="iterations" min="1" max="10" value="5">
    <span id="iterationsValue">5</span>

    <br>
 
    <label for="precision">Precision:</label>
    <input type="number" id="precision" name="precision" min="1" max="100" value="50">

    <br> 
    <input type="submit" value="Submit">
</form>

<script>
 document.getElementById('iterations').addEventListener('input', function () {
            document.getElementById('iterationsValue').textContent = this.value;
        });
</script> -->